.login{
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    width: 300px;
}

.reset-text{
    color: #32BDEA;
}
.login-text{
    color: #32BDEA;
}

.login-btn{
    border: none;
    border-radius: 5px;
    padding: 4px 4px;
}

.login-btn-hover:hover{
    background-color: #32BDEA;
    color: white;
}