.manage-btn{
    color: white;
    font-size: 14px;
    background-color: #09a3d6;
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
}

.manage-btn:hover{
    color: white;
    background-color: #FF7E41;
    border-radius: 20px;
}