.btn-style{
    text-decoration: none;
    background-color:  #32BDEA;
    color: white;
    height: 30px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 4px 4px;
}

.btn-style:hover{
    background-color: #1fa3cf;
    color: white;
}